[submodule "jaxpi"]
	path = jaxpi
	url = git@github.com:PredictiveIntelligenceLab/jaxpi.git
[submodule "PINNs"]
	path = PINNs
	url = git@github.com:maziarraissi/PINNs.git
[submodule "PINN"]
	path = PINN
	url = git@github.com:DikovAlexandr/PINN.git
